@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* The path is the path related to main.css, not input.css*/
  background-image: url('../img/bg-tablet-pattern.svg');
  background-repeat: no-repeat;
  background-size: 800px;
  background-position: 90% -25%;
}
